.botoninicio {
    display: inline-block;
    border-radius: 10px;
    background-color: rgb(209, 202, 81);
    color: #FFFFFF;
    text-align: center;
    font-size: 2vh;
    padding: 20px;
    width: 15vw;
    height: 100%;
    transition: all 0.5s;
    max-height: 1%;
    margin: 10px;
    border:1px solid rgb(1,40,83);
    align-items: center;
    align-content: center;
  }
  
  .botoninicio:hover{
    background-color: rgb(232, 232, 175);
    border:1px solid rgb(1,40,83);
  }

  .botonRecarga{
    background-image:url('https://img2.freepng.es/20180403/lgq/kisspng-reload-computer-icons-download-patch-tor-update-button-5ac33e58b8c6b2.5932981215227449207569.jpg');
    background-repeat:no-repeat;
    height:150px;
    width:150px;
    background-size: 130px 130px;
    background-position:center;
    filter:brightness(1.1);
    mix-blend-mode:multiply;
    border: none;
  }

  .botonNavegar {
    border-radius: 10px;
    background-color: rgb(190, 182, 29);
    color: #4661A8;
    text-align: center;
    font-size: 2vh;
    height: 100%;
    width: 20vw;

    transition: all 0.5s;
    margin: 20px;
    border:2px solid rgb(1,40,83);
    align-items: center;
    align-content: center;
  }

  .botonNavegar:hover{
    background-color: rgb(232, 232, 175);
    border:1px solid rgb(1,40,83);
  }