.barra {
    list-style-type: none;
    text-align: center;
    display: inline-flex;
    border: rgb(185, 74, 74);
    border-width: 1px;
    border-color: rgb(17, 17, 17);
}
.barrasActivo {
    color: rgb(165, 39, 39);
    background-color: #f4eba0;
    float: center;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid rgb(0, 0, 0);
    font-weight: 500;
    margin: 4 4px;
    text-align: center;
}
.barras {
    color: rgb(165, 39, 39);
    background-color: rgb(175, 175, 175);
    float: center;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid rgb(0, 0, 0);
    font-weight: 500;
    margin: 4 4px;
    text-align: center;
}

.barra li a.activo {
    color: rgb(143, 74, 18);
    border-radius: 5px;
}

.barras:hover:not(.activo){
    background-color: gray;
}

  
